@model LAFMS.Models.FoundRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoundRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoundDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claimant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claimant.ClaimantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finder.FinderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
